#about-me {
  
  padding: 0 3rem;
    .about-me-content {
      margin: 0 auto;
  
      h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: $green1;
      }
  
      p {
        font-size: 1.1rem;
        line-height: 1.6;
        display: block;
        margin-bottom: 20px;

        a{
          color: $green1;
          text-decoration: none;
          font-weight: 600;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $pink1;
          }
        }
      }
    }
  }
  