.portofolio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 2.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;

}

.portfolio-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    margin-top: 1rem;
  

}

.portfolio-card img {
    height: 30rem;
    object-fit: cover;
    border-radius: 8px;
}

.portfolio-card h4 {
font-size: 1.4rem;
margin-top: 10px;
text-align: center;
color: $green1;
font-family: $font2;
}

.portfolio-card p {
font-size: 1rem;
}

.portfolio-card:hover {
transform: translateY(-5px);
box-shadow: 0 2px 15px $green1;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $purple1;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; /* Transition en douceur */
    border-radius: 8px;
}

.portfolio-card:hover .overlay {
    opacity: 0.2;    
}