.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 20%;
    width: 550px;
    height: 550px;
    opacity: 0.8;
    border-radius: 50%;
    will-change: border-radius, transform, opacity;
    background: linear-gradient(90deg, $purple1 0%, $pink1 100%);
    display: block;
    z-index: -1;
    animation: rotateColor 2.5s  infinite ease-in-out;
}

@keyframes rotateColor {
    0% {
        transform: translate3d(0, 0, 0) rotateZ(360deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    img {
        width: 25rem;
        animation: slideIn 1.2s ease-in-out ;

    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-content {
    span {
        font-size: 1.2rem;
        line-height: 1.5;
    }
    h2 {
        font-size: 3rem;
        line-height: 1.5;
       

    }
}

