@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$font1: "Sen",
sans-serif;
$font2: "Mali",
cursive;

$black1: #070413;
$green1: #08FDD8;
$pink1: #E95D90;
$purple1:#5221E6;
$white1: #E2E2E2;

:export {
    black1: $black1;
    green1: $green1;
    pink1: $pink1;
    purple1: $purple1;
    white1: $white1;

}

//! Scrollbar
/*width*/
::-webkit-scrollbar {
    width: auto;
}

/*track*/
::-webkit-scrollbar-track {
    background: rgb(7, 4, 19);
}

/*thumb*/
::-webkit-scrollbar-thumb {
    background: rgb(82, 33, 230);
    border-radius: 50px;
    box-shadow: rgb(0, 0, 0) 2px -2px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font1;
    color: $white1;
    background-color: $black1;

}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

label {
    user-select: none;
}

main {
    margin-left: 12rem;
}

.cursor {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 100000;
    width: 24px;
    height: 24px;
    mix-blend-mode: difference;
    background-color: transparent;
    box-shadow: 
    0 0 10px $green1,
    0 0 40px $green1,
    0 0 80px $purple1;
}
